.nav-dropdown-link{
    font-size: 1rem;
    color: #000;
    display: flex;
    align-items: center;
    b{
        font-size: 0.8rem;
        font-weight: 400;
    }
    span{
        font-size: 1.3rem;
    }
}