$color-white: #fff;
$color-light: #7b79791a;
$color-gray-light: #dadada;
$color-gray-sky:#f1f3f5;
$color-black: #272635;
$color-black-light: #475057;
$color-yellow: #ffd22c;
$color-yellow-black: #ffaf14;
