@import '../../../sass/variables.scss';
.menu{
    .btn-add{
        display: flex;
        align-items: center;
        margin-right: 1rem;
        span{
            font-size: 2rem;
            color: $color-yellow;
        }
    }
}

.form-menu{
    display: flex;
    align-items: center;
    .ant-dropdown-menu-item{
        width: 100px;
        margin: 5px;
    }
}