@import '../../../sass/variables.scss';
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.8rem;
    background: $color-white;
    border-bottom: 1px solid $color-gray-light;
    padding: 0 0.5rem;
    .bar-open{
        display: flex;
        align-items: center;
        &:hover{
            cursor: pointer;
        }
    }

    .menu{
        display: flex;
        align-items: center;
    }
}